<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>499078700229-4f7mprh2760ca41rtknmu5mo1365svpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499078700229-4f7mprh2760ca41rtknmu5mo1365svpl</string>
	<key>API_KEY</key>
	<string>AIzaSyCmlfivzj9SeI5JRnNihD8mMUWg0COlz44</string>
	<key>GCM_SENDER_ID</key>
	<string>499078700229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamup.HaNoiTravel</string>
	<key>PROJECT_ID</key>
	<string>hannoitravel-7798</string>
	<key>STORAGE_BUCKET</key>
	<string>hannoitravel-7798.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:499078700229:ios:9ca70bcc59f86900</string>
	<key>DATABASE_URL</key>
	<string>https://hannoitravel-7798.firebaseio.com</string>
</dict>
</plist>